/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }


.card {
    /* margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    margin: 20px auto;
    max-width: 600px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.card-content {
    padding: 20px;
    background: #f9f9f9;
}

.card-title {
    font-weight: bold;
    font-size: 1.4rem; 
    color: #333; 
    margin-bottom: 10px; 
}

.card-content p {
    font-size: 1.1rem; 
    color: #666; 
    line-height: 1.5; 
}

.main {
    padding-top: 20px;
}

footer.page-footer {
    background-color: #009688; 
    padding-top: 0;
    text-align: right;
}

.nav-wrapper {
    background-color: #009688; 
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
 */

 body {
    background-color: #f4f4f9; /* Background color */
    font-family: 'Arial', sans-serif;
}

.form-container {
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* subtle shadow for the form container */
}

.form-section {
    margin-bottom: 20px;
}

.form-section h3 {
    background: #eeeeee;
    padding: 10px;
    margin: 0 -20px 20px -20px; /* Align background extending to the edges */
}

.input-field {
    margin-bottom: 10px; /* Spacing between input fields */
    border: none;
    border-bottom: 1px solid #ccc; /* Bottom border */
    padding: 10px;
    width: 100%; /* Full width */
}

.input-field:focus {
    outline: none;
    border-bottom-color: #666; /* Darker border on focus */
}

/* Styling for select elements */
.select-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/* Style for the primary button */
.button-primary {
    background-color: #ffc107; /* Highlight color for primary actions */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px; /* Some space above the button */
    cursor: pointer;
    width: 100%; /* Full width */
}

.button-primary:hover {
    background-color: #e0a800;
}

/* Additional styles for secondary information like terms and conditions */
.small-text {
    font-size: 0.8em;
    color: #666;
}

/* Adjusting alignment and spacing for inline elements like checkboxes */
.inline-field {
    margin-right: 10px; /* Right margin for inline elements */
}

/* Styling for links and secondary actions */
.link-secondary {
    color: #666;
    text-decoration: none;
    font-size: 0.9em;
}

.link-secondary:hover {
    text-decoration: underline;
}
